{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com">
        .drop-shadow-lg{
                            --tw-drop-shadow: 
                            drop-shadow(-50px -50px 70px rgba(223,254,86,1.000));}
    </script>
    <title>Welcome | Prolife</title>
    <link rel="icon" type="image/x-icon" href="/image 1.png">

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>